<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestDB" connectionString="Data Source=COOLD-PC\SQLEXPRESS;Initial Catalog=PharmacyCurs;Integrated Security=true; TrustServerCertificate=true; MultipleActiveResultSets=true; User ID=admin_user; Password=admin"/>
	</connectionStrings>
</configuration>